<div ng-controller="CreateUserController">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Boas Práticas</span>
            </h2>
        </div>
    </md-toolbar>

    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"></img style="width: 100%; height: auto;" src="img/logorodrigo.png"></img></p>
<p style="text-align: justify; margin-left: 3%; margin-right: 3%;"> <b>• Deputado na Praça</b><br><br>
O objetivo da ação Deputado Na Praça é levar à população informações sobre as atividades parlamentares, além de debater problemas e soluções para cada cidade alagoana. 
A logística da ação é simples, de baixo custo e que tem um grande impacto didático, montando uma tenda em local de grande movimento da cidade para dialogar com a comunidade.<br><br>
<b>• Deputado por um dia</b><br><br>

O projeto “Deputado Por Um Dia” objetiva aproximar os cidadãos alagoanos das atividades do Mandato Rodrigo Cunha. A ação acontece sempre às quartas-feiras e os participantes acompanham o parlamentar durante um dia de trabalho. Para participar, basta se inscrever por meio da aba “Participe” no site www.rodrigocunha.org. <br><br>
    
    <b>• Revoga aí!</b><br><br>
O projeto foi pensado para se preocupar com a qualidade das leis produzidas de Alagoas. 
Vivemos em um Estado em que não basta só observarmos os projetos e as decisões que os parlamentares tomam por nós, devemos interagir, ou melhor: temos de reagir e dar nossa opinião. Acesse o site da ALE/AL ou do Gabinete Civil e nos diga qual lei alagoana (por assunto ou pelo número) você acha que não é importante.<br><br>
<b>•Política de Verdade</b><br><br>
Todas as quintas-feiras, o deputado Rodrigo Cunha recebe um convidado ao vivo no Facebook® e Instagram® para bater um papo com os internautas. Nesse canal de comunicação, os seguidores podem enviar perguntas (também ao vivo) nos comentários, relacionadas ao tema da semana.<br><br>

<b>•Seleção pública</b><br><br>
O objetivo é mobilizar as pessoas para a importância em termos a formação técnica para trabalhar com política, incentivando ainda mais o estudante e o profissional a buscarem conhecimento na sua área e, sobretudo, contribuírem com a sociedade em geral.
Três seleções públicas já foram realizadas pelo mandato Rodrigo Cunha, nas áreas de Comunicação, Direito, Serviço Social e Tecnologia.


</p>

    </div>
</div>
