<div ng-controller="SampleCtrl">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home#teste1">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Boas Práticas</span>
            </h2>
        </div>
    </md-toolbar>
    
    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img src="img/deputadonapraca.png" class="md-card-image" alt="Deputado na Praça">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Deputado na Praça</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/deputadonapraca">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
    </md-card>
    
    
    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img src="img/deputadoporumdia.png" class="md-card-image" alt="Deputado por um Dia">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Deputado por um Dia</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/deputadoporumdia">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
    </md-card>
    
    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img src="img/revogai.png" class="md-card-image" alt="RevogAí">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">#RevogAí</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/revogai">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
    </md-card>
    
    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img src="img/politicadeverdade.png" class="md-card-image" alt="Política de Verdade">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Política de Verdade</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/politicadeverdade">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
    </md-card>
    
    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img src="img/selecaopublica.png" class="md-card-image" alt="Seleção Pública">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Seleção Pública</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/selecaopublica">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
    </md-card>

</div>
