<div ng-controller="SampleCtrl">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/boaspraticas">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Deputado por um Dia</span>
            </h2>
        </div>
    </md-toolbar>
    
    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/deputado1.png"></img></p>
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/deputado2.png"></img></p>
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/deputado3.png"></img></p>
<p style="text-align: justify; margin-left: 3%; margin-right: 3%;"> O projeto “Deputado Por Um Dia” objetiva aproximar os cidadãos alagoanos das atividades do Mandato Rodrigo Cunha. A ação acontece sempre às quartas-feiras e os participantes acompanham o parlamentar durante um dia de trabalho. Para participar, basta se inscrever por meio da aba “Participe” no site <a href="http://rodrigocunha.org" target="_blank">www.rodrigocunha.org</a>.
</p>

    </div>

</div>
