<div ng-controller="SampleCtrl">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/boaspraticas">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Boas Práticas</span>
            </h2>
        </div>
    </md-toolbar>
    
    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/logorodrigo.png"></img></p>
<p style="text-align: justify; margin-left: 3%; margin-right: 3%;"> Rodrigo é Alagoano de Arapiraca e, desde sempre, torcedor do ASA. Filho de Ceci Cunha e Juvenal Cunha, esposo da Lavínia e pai do João Juvenal e da Luna Ceci. Hoje, é reconhecido publicamente pela sua luta por justiça e cidadania. <br><br>
Formado em Direito pela Universidade Federal de Alagoas, com pós-graduação em Gestão Pública, Gestão empresarial e Direito do Consumidor, assumiu a Superintendência do Procon/AL em 2008, onde atuou por 6 anos. Desenvolveu um trabalho de excelência, inclusive referenciado nacionalmente. Em 2014 disputou sua primeira eleição e foi eleito o deputado estadual mais votado de Alagoas.
</p>

    </div>

</div>
