<div ng-controller="MenuController">

<style type="text/css">
#wrap {
   width:100%;
    height: 100%;
    margin: auto;

}
#left_col {
   float:left;
   width:50%;
}
#right_col {
   float:right;
   width:50%;

}
</style>


<div id="wrap">
    <div id="left_col">
       
        <p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu1.svg"></img></p>
    
    <p style="text-align: center">ENQUETES</p>
    <p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu3.svg"></img></p>
<p style="text-align: center">QUAL O PROBLEMA<br> DA SUA CIDADE?</p>
<a href="#/projetosdelei">
<p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu5.svg"></img></p></a>
<p style="text-align: center">PROJETOS DE LEI</p>
    
    </div>
    <div id="right_col">
       <p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu2.svg"></img></p>
<p style="text-align: center">VEJA COMO VOTEI</p>
 <p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu4.svg"></img></p>
<p style="text-align: center">BOAS<br> PRÁTICAS</p>
 <p style="text-align:center"><img class="projetosdelei" style="width: 90%; height: auto;" src="img/icons/Menu6.svg"></img></p>
<p style="text-align: center">MONITORA ALAGOAS</p>
    </div>
</div> 

    
</div>