<body>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '300631640374242',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div style="margin-top: 35px; margin-right: 25px; margin-left: 25px;" ng-controller="SampleCtrl">
    <img height="100%" width="100%" style="display: block; margin-left: auto; margin-right: auto;" src="img/logo.png"
         alt="">
    <h1>Data: {{ data }}</h1>

    <ul>
        <li ng-repeat="message in messages">
            <!-- edit a message -->
            <input ng-model="message.text" ng-change="messages.$save(message)" />
            <!-- delete a message -->
            <button ng-click="messages.$remove(message)">Delete Message</button>
        </li>
    </ul>
    <!-- push a new message onto the array -->
    <form ng-submit="addMessage()">
        <input ng-model="newMessageText" />
        <button type="submit">Add Message</button>
    </form>

    <form action="">
        <md-input-container style="font-size: 15px; margin-bottom: 0!important; margin-top: 55px;" class="md-block"
                            flex-gt-sm md-no-float>
            <input id="email" ng-model="user.email" placeholder="Email" type="email">
        </md-input-container>

        <md-input-container style="font-size: 15px; margin: 0!important;" class="md-block" flex-gt-sm md-no-float>
            <input id="password" ng-model="user.password" placeholder="Senha" type="password">
        </md-input-container>

        <md-button
                style="width: 100%; height: 50px; font-size: 15px; color: #FFFFFF; background-color: #26A69A; display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;"
                class="md-raised" ng-click="login()">
            ENTRAR
        </md-button>
    </form>

    <div style="margin-top: 5px; margin-bottom: 28px;display: flex; align-items: center; justify-content: center;">
        <span style="font-size: 15px;">Não possui conta ainda? <a style="color: #26A69A" href="#/register"
                                                                  id="new_account"><b>Crie agora</b></a></span>
    </div>

    <a href="#/home">
        <md-button
                style="width: 100%; height: 50px; font-size: 15px; color: #FFFFFF; background-color: #2D4486; display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;"
                class="md-raised">
            <md-icon id="login" md-svg-icon="img/icons/facebook.svg" style="color: #FFFFFF"></md-icon>
            ENTRAR COM FACEBOOK
        </md-button>
    </a>
</div>

</body>