<div ng-controller="MainController">
    <div style="width: 100%;">
  <md-toolbar style="background-color: #26A69A;" class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span style="color: #FFFFFF;">Meu Deputado</span>
            </h2>
        </div>
    </md-toolbar>
</div>

<div id="wrap">
    
    <md-card style="margin-top: 25px; margin-right: 25px; margin-left: 25px;">
        <img ng-src="img/rodrigobio.png" class="md-card-image" alt="Rodrigo">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Quem é Rodrigo Cunha?</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        Deputado estadual de Alagoas, casado, pai, etc etc etc etc etc etc etc etc.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

            <a href="#/rodrigo">
            <md-button>Ler mais</md-button>
            </a>
        </md-card-actions>
    </md-card>
</div>
</div>