<div ng-app="MyApp" ng-controller="SampleCtrl" class="tabsdemoDynamicHeight">
    <div style="width: 100%;">
        <md-toolbar style="background-color: #26A69A;" class="md-hue-2">
            <div class="md-toolbar-tools">
                <span flex></span>
        
                    <h2 style="color: #FFFFFF;" layout="row" class="md-title text-center">NOSSO DEPUTADO</h2>
              
                <span flex></span>
            </div>
        </md-toolbar>
    </div>
    <body style="overflow:hidden;">
    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex" md-center-tabs="true" md-dynamic-height="" md-border-bottom="">
            <md-tab label="six" md-on-select="onTabChanges(0)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/icons/vote.svg"></md-icon>
                </md-tab-label>
           
                <md-tab-body class="md-padding" style="background-color: #D9D7D9">
                <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                    <img ng-src="img/ale.jpg" class="md-card-image" alt="Rodrigo">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Votação na ALE</span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-actions layout="row" layout-align="end center">

                        <a href="#/votacaonaale">
                            <md-button>Vote</md-button>
                        </a>
                    </md-card-actions>
                </md-card>
                </md-tab-body>

            </md-tab>

            <md-tab label="seven" md-on-select="onTabChanges(1)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/icons/cidade.svg"></md-icon>
                </md-tab-label>

                <md-tab-body class="md-padding">
                    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img ng-src="img/cidade.jpg" class="md-card-image" alt="Rodrigo">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Qual o problema da sua cidade?</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/suacidade">
                                <md-button>Enviar</md-button>
                            </a>
                        </md-card-actions>
                    </md-card>
                </md-tab-body>
            </md-tab>

            <md-tab label="one" md-on-select="onTabChanges(2)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/deputadoicon.svg"></md-icon>
                </md-tab-label>

                <md-tab-body class="md-padding">
                    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img ng-src="img/rodrigobio.png" class="md-card-image" alt="Rodrigo">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Quem é Rodrigo Cunha?</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/rodrigo">
                                <md-button>Ler mais</md-button>
                            </a>
                        </md-card-actions>
                    </md-card>
                </md-tab-body>
            </md-tab>


            <md-tab label="three" md-on-select="onTabChanges(3)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/boaspraticasicon.svg"></md-icon>
                </md-tab-label>

                <md-tab-body class="md-padding">
                    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img ng-src="img/boaspraticas.jpg" class="md-card-image" alt="Rodrigo">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Boas práticas</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/boaspraticas">
                                <md-button>Ler mais</md-button>
                            </a>
                        </md-card-actions>
                    </md-card>
                </md-tab-body>
            </md-tab>

            <md-tab label="four" md-on-select="onTabChanges(4)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/icons/monitoraicon.svg"></md-icon>
                </md-tab-label>

                <md-tab-body class="md-padding">
                    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img ng-src="img/monitora.png" class="md-card-image" alt="Rodrigo">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Monitora Alagoas</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="http://monitoraalagoas.org" target="_blank">
                                <md-button>Conferir</md-button>
                            </a>
                        </md-card-actions>
                    </md-card>
                </md-tab-body>
            </md-tab>

            <md-tab label="five" md-on-select="onTabChanges(5)">
                <md-tab-label>
                    <md-icon md-svg-icon="img/icons/falecom.svg"></md-icon>
                </md-tab-label>

                <md-tab-body class="md-padding">
                    <md-card style="margin-top: 5%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                        <img ng-src="img/falecom.jpg" class="md-card-image" alt="Rodrigo">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Fale com o Rodrigo</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="end center">

                            <a href="#/boaspraticas">
                                <md-button>Saiba mais</md-button>
                            </a>
                        </md-card-actions>
                    </md-card>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
    </body>
    <div id="wrap">

    </div>
</div>

