<div ng-controller="SampleCtrl">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/boaspraticas">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">RevogAí</span>
            </h2>
        </div>
    </md-toolbar>
    
    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"></p>
<p style="text-align: justify; margin-left: 3%; margin-right: 3%;"> O projeto foi pensado para se preocupar com a qualidade das leis produzidas de Alagoas.

Vivemos em um Estado em que não basta só observarmos os projetos e as decisões que os parlamentares tomam por nós, devemos interagir, ou melhor: temos de reagir e dar nossa opinião. Acesse o site da ALE/AL ou do Gabinete Civil e nos diga qual lei alagoana (por assunto ou pelo número) você acha que não é importante.
</p>

    </div>

</div>
