<div>
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Quem é Rodrigo Cunha?</span>
            </h2>
        </div>
    </md-toolbar>

    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/rodrigo.png"></img></p>
<p style="text-align: justify; margin-left: 3%; margin-right: 3%;">Nascido em Arapiraca, agreste alagoano, Rodrigo Cunha é filho de Ceci Cunha e Juvenal Cunha. Se formou em direito pela Ufal, tornando-se advogado e professor. Na gestão pública assumiu a superintendência do PROCON, onde inovou em várias frentes na defesa pelo direito do consumidor. Em 2015, foi eleito o Deputado Estadual mais votado por Alagoas. É reconhecido publicamente pela luta por justiça e cidadania, e no seu mandato como parlamentar vem trabalhando por mais transparência nos atos públicos e realizando  constantes ações de fiscalização, além de aproximar a população do que acontece na Assembleia.
</p>

    </div>
</div>
