<div ng-controller="CreateUserController">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/login">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Quem é Rodrigo Cunha?</span>
            </h2>
        </div>
    </md-toolbar>

    <div style="margin-top: 10px; margin-right: 5px; margin-left: 5px;">
        <p style="text-align:center"><img style="width: 100%; height: auto;" src="img/logorodrigo.png"></img></p>
<p style="margin-left: 3%; margin-right: 3%;">Texto a ser enviado</p>

    </div>
</div>
