<div ng-controller="SampleCtrl">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Sua cidade</span>
            </h2>
        </div>
    </md-toolbar>

    <style type="text/css">
      .inputdemoIcons .inputIconDemo { min-height: 48px; }
      .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email { color: green; }
      .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name { color: dodgerblue; }
      .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
      .inputdemoIcons md-input-container.md-input-invalid > md-icon.name { color: red; }
    </style>

     <div ng-controller="SampleCtrl" layout="column" layout-padding ng-cloak>
      <br/>
      <md-content class="md-no-momentum">      
        <md-input-container class="md-icon-float md-block">
          <label>Nome Completo</label>
          <input ng-model="user.nome" id="nome" type="text">
        </md-input-container>
   
        <md-input-container md-no-float class="md-block">
          <label>Cidade</label>
          <input ng-model="user.cidade" id="cidade" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
         <label>Telefone</label>
          <input ng-model="user.telefone" id="telefone" type="text">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Mensagem</label>
          <input md-maxlength="200" required md-no-asterisk name="Mensagem" id="mensagem" ng-model="user.mensagem">
        </md-input-container>
  
        <md-input-container md-no-float class="md-block">      
            <label>Envie uma Foto</label>
        </md-input-container>
        <br>
        <div class="rows">
        
          <input type="button" class="btn" value="Selecionar" onclick="a()">
       
          <input type="file" name="arquivo" id="arquivo" onchange="load(event)" class="arquivo">
        
          <input type="text" name="file" id="file" class="file" placeholder="Nenhuma foto selecionada" readonly="readonly">
        
          <md-input-container md-no-float class="md-block">      
              <md-button 
                  type="submit" 
                  onclick="send()" 
                  style="
                      background-color: #26A69A; 
                      color: white">
                  Enviar
              </md-button>
          </md-input-container>
        </div>        
      </md-content>
    </div>
</div>
</div>