<div>
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Votação na ALE</span>
            </h2>
        </div>
    </md-toolbar>

    <div ng-repeat="lei in list2">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <h1 class="md-headline">{{ lei.titulo }}</h1>
                    <span class="md-subhead">Pequena descrição</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <a href="#/leinaale">
                    <md-button>VOTAR</md-button>
                </a>
            </md-card-actions>
        </md-card>
    </div>
</div>
