<div ng-init="init()">
    <md-toolbar style="background-color: #26A69A;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back">
                <a href="#/home">
                    <md-icon md-svg-icon="img/icons/arrow-left.svg" style="color: #FFFFFF"></md-icon>
                </a>
            </md-button>
            <h2>
                <span style="color: #FFFFFF;">Votação na ALE</span>
            </h2>
        </div>
    </md-toolbar>

    <div ng-repeat="lei in list" ng-if="hide(lei.users)" > 
            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <h1 class="md-headline">{{ lei.titulo }}</h1>
                    <span class="md-subhead">{{ lei.descricao }}</span>
                    <span class="md-subhead">Autoria: {{ lei.autoria }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
              <span layout="row" layout-align="center">Você é a favor disso?</span>

            <md-card-actions layout="row" layout-align="center">
        
                <a>
                    <md-button ng-click="computeVotesYes($index); computeParcial($index); showAlert($event)">Sim</md-button>
                </a>
                <a >
                    <md-button ng-click="computeVotesNo($index); computeParcial($index); showAlert($event)" >Não</md-button>
                </a>
            </md-card-actions>
        </md-card>  
    </div>
     <h3 ng-hide="flag" style="text-align: center; margin-top: 30px">Você já votou em todas as leis disponíveis.</h3>
       
</div>
